$black: #000;
$white: #fff;

// Brand
$dark-blue: #263238;
$brand-green: #54A14D;
$brand-blue: #49AFED;

// Grays
$gray-0: rgb(180, 180, 180);
$gray-1: #ddd;
$gray-2: #505E65;
$gray-3: #616364;
$gray-4: #424242;

// Alerts
$error-red: #D30915;

// Base font size
$base-font-size: 16;