@charset "utf-8";

// // Common
@import './base/fonts';
@import './base/variables';
@import './base/mixins';
@import './base/icons';

html {
  color: $dark-blue;
  font-family: $din-font;
  font-weight: normal;
}