@charset "utf-8";

// // Common
@import './base/fonts';
@import './base/variables';
@import './base/mixins';
@import './base/icons';
@import './base/tipography';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  color: $dark-blue;
  font-family: $din-font;
  font-weight: normal;
}

.sl-container {
  width: 100%;
  max-width: rem(900);
  margin: 0 auto;
  padding: 0 rem(20);
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.sl-nav {
  padding-top: rem(123);
  margin-bottom: rem(125);
  position: relative;
  z-index: 2;
  
  @include tablet {
    margin-bottom: rem(50);
    padding-top: rem(188);
  }
}

.sl-logo {
  display: block;
  text-align: center;
  font-size: rem(70);
  color: $white;
  
  @include tablet {
    color: $dark-blue;
    text-align: left;
  }  
}

.sl-info-box {
  width: 100%;
  max-width: rem(540);
  margin-left: auto;
  color: $black;
  position: relative;

  &:before {
    content: '';
    background: url(./assets/img/fig-3.svg) center center no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: -168px;
    transform: translateX(-50%);

    @include tablet {
      left: 0;
      transform: none;
    }
  }

  &__title,
  &__body,
  &__actions {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: rem(35);
  }
  
  &__body {
    color: $dark-blue;
    font-size: rem(18);
    margin-bottom: rem(35);
  }

  &__actions {
    display: flex;
    justify-content: center;
  }

  @include tablet {
    padding: 0 rem(50);

    &__body {
      font-size: rem(22);
    }

    &__actions {
      justify-content: flex-end;
    }
  } 
}

.sl-button {
  color: $dark-blue;
  cursor: pointer;
  border: 2px solid $dark-blue;
  padding: rem(17) rem(13);
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: $white;
  transition: all 0.3s;
  font-family: $din-font;
  font-weight: bold;
  font-size: rem(16);
  
  &__icon {
    font-size: rem(12);
    margin-right: rem(10);
    font-weight: normal;
  }
  
  &:hover {
    background: $dark-blue;
    color: $white;
  }
}

.sl-abstract-shape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  
  &__sphere {
    height: rem(530);
    width: rem(530);
    background: url(./assets/img/fig-2.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      top: 100px;
      left: 298px;
      transform: none;
    }
  }

  &__stain {
    height: rem(670);
    width: rem(670);
    background: url(./assets/img/fig-1.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 327px;
    left: -388px;

    @include tablet {
      height: rem(530);
      width: rem(530);
      top: 400px;
      left: 47px;
    }
  }
}